#sidebar{
  max-width: 100%;
     
}
a{
    color: white;
    display: flex;
    width: 100%;    
    padding: 10px; 
    text-align: center;                                
    background-color: rgba(4, 4, 158, 0.651);
    text-decoration: none;
    justify-content: center;

}
a:hover{
    background-color: hsla(210, 40%, 98%, 0.973);
    color:rgba(4, 4, 158, 0.651); ;

}